body {
	background-color: #181818;
	display: flex;
	flex-direction: column;
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 0;
}

.logo {
	font-size: large;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	letter-spacing: .05em;
	padding: 0.5em;
}

.logo span {
	padding: 0;
}

header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #181818;
}

header span {
	padding: 0.5em;
}

main {
	padding: 3.5em 0.5em;
	box-sizing: border-box;
	background-color: #2f2f2f;
	min-height: 100vh;
}

main a {
	display: block;
	border: 1px;
	border-color: #10dfdf;
	border-style: solid;
	margin: 2px;
	padding: 0.1em 2em;
}

main p {
	margin: 0.4em;
}

footer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #181818;
}

footer span {
	padding: 0.5em 2em;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	color: #afafaf;
}

.main-color {
	color: #10dfdf;
}

.highlight-color {
	color: #ffffff;
}

.about {
	background-color: #2f2f2f
}

.video {
	width: 100vw;
}

.vidThumb {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
}